.package {
    background-color: rgb(59, 99, 99);
    width: 100%;
    height: 12rem;
    margin-top: 50px;
    text-align: center;
}

.package h1 {
    padding-top: 60px;
    font-size: 60px;
    text-align: center;
}

.city-package {
    display: flex;
    margin-top: 40px;
    position: relative;
    width: 100%;
    padding-left: 300px;
}

.isi-city-package {
    display: flex;
    line-height: 22px;
    margin-top: 50px;
}

.circle-list-1 {
    background: lightblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 2px;
    margin-top: -5px;

}

.circle-list-2 {
    background: lightblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: -5px;
}

.circle-list-3 {
    background: lightblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: -5px;
}

.circle-list-4 {
    background: lightblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 2px;
    margin-top: -5px;
}

.circle-list-5 {
    background: lightblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 2px;
    margin-top: -5px;
}


.circle-list-6 {
    background: lightblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 2px;
    margin-top: -5px;
}


.circle-img {
    width: 35px;
    padding-left: 13px;
    padding-top: 12px;
}

.title-package h1 {
    margin-left: 10px;
    font-size: 20px;
}

.title-package p {
    margin-left: 10px;
    color: grey;
    font-size: 15px;
    padding-top: 20px;
}